{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
    <h1>Library</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ library.name }}</td>
            </tr>
            <tr>
                <th>bloc</th>
                <td>{{ library.bloc }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ library.description }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ library.contact }}</td>
            </tr>
            <tr>
                <th>OpeningHours</th>
                <td>{{ library.openingHours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_library_index') }}">back to list</a>

    <a href="{{ path('app_library_edit', {'id': library.id}) }}">edit</a>

    {{ include('library/_delete_form.html.twig') }}
{% endblock %}
